LomonosovTrafficAccountingViewer/bin/*
LomonosovTrafficAccountingViewer/obj/*
LomonosovTrafficAccountingViewer/Web\.config*
LomonosovTrafficAccountingViewer/cd LomonosovTrafficAccountingViewer.csproj.user
packages/*