LomonosovTrafficAccountingViewer/bin/*
LomonosovTrafficAccountingViewer/obj/*
LomonosovTrafficAccountingViewer/Properties/*
LomonosovTrafficAccountingViewer/Web*config
LomonosovTrafficAccountingViewer.csproj.user
packages/*
.vs/