LomonosovTrafficAccountingViewe/bin/*
LomonosovTrafficAccountingViewe/obj/*
LomonosovTrafficAccountingViewe/Web\.config*
LomonosovTrafficAccountingViewe/cd LomonosovTrafficAccountingViewer.csproj.user