#data-table{
    background: black; /* Цвет фона таблицы */
    border-spacing: 1px; 
}

#data-table td{
    padding: 0.15em;
    background: white; /* Цвет фона ячеек */
    width:100px;
} 

#datepicker1{
    display:inline-block;
}

#datepicker2{
    display:inline-block;
}

#idd{
    float:right;
}

.mode_radio{
    display:inline-block;
}

.mode_radio2{
    display:inline-block;
}

.unselectable{
    cursor:default;
}

.date{
    font-weight:bold;
    font-family:'Cambria Math';
    font-size:18px;
}

.top{
    font-weight:bold;
    font-family:'Cambria Math';
    font-size:25px;
    width:45px;
    height:27px;
}

.radioB{
    font-family:'Cambria Math';
    font-size:19px;
}

#project{
    background-color:whitesmoke;
}

